.cart-top {
    height: 400px;
    background-image: url(topcart.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__title{
        color: $color-text;
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 128px;
        padding-bottom: 126px;
    }
}


.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;
    &__name-box{
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        padding-right: 27px;
    }
    &__item{
        border-top: 0.5px solid rgb(202, 205, 216);
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    &__left {
        display: flex;
        gap: 32px;
    }
    &__img{
        height: 173px;
        width: 173px;
    }
    &__info{
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    &__field{
        border: none;
        border-radius: 6px;
        background: rgb(247, 246, 246);
        width: 71px;
        height: 51px;
        color: rgb(0, 0, 0);
        font-family: inherit;
        font-size: 14px;
        font-weight: 600;
        line-height: 210%;
        letter-spacing: 0px;
        text-align: center;
    }
    &__form{
        border-radius: 20px;
        background: rgb(247, 246, 246);
        height: 556px;
        width: 379px;
        grid-column: span 4;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
    }
    &__form-logo{
        margin-top: 42px;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
    }
    &__form-benx{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__content {
        grid-column: span 8;
    }
    &__menu-box{
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__text-box{
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__price-box{
        color: rgb(5, 5, 5);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
    }
    &__button{
        gap: 7px;
        margin-top: 30px;
    }
    &__clear {
        box-sizing: border-box;
        background: $color-text;
        border-radius: 50px;
        border: 1px solid rgb(0, 0, 0);
        color: rgb(2, 2, 2);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: center;
        flex-shrink: 0;
        width: 200px;
        height: 37px;
    }
    &-show{
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: underline;
        margin-top: 32px;
        margin-bottom: 65px;
    }
    
}

.cart-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
    gap: 32px;
    margin-top: 50px;
}
.favorites {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 210%;
    letter-spacing: 0px;
    text-align: center;
    text-decoration-line: underline;
    margin-right: 30px;  
}
.registration {
    padding-top: 35px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 288px;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
  }
.total {
    margin-top: 65px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
  }
.result {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}
  
.desing {
    padding: 10px 20px;
    background: none;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    width: 290px;
    height: 41px;
    margin-top: 18px;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}  

@media (max-width:833px) {
    .cart-top{
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .cart{
        display: flex;
        gap: 64px;
        flex-direction: column;
        flex-wrap: wrap;    
    }
    .heading{
        margin-top: 64px;
        margin-bottom: 32px;
    }
    .cart-box{
        column-gap: 29px;
        row-gap: 30px;
    }
    .logo-bleck{
        display: none;
    }
}

@media (max-width:375px) {
    .cart-top {
        padding-left: 24px;
        padding-right: 24px;
    }
    .cart-top__title{
        font-size: 48px;
        text-align: center;
        line-height: 59px;
        padding: 0;
        margin-top: 82px;
    }
    
    .header{
        border: none;
    }
    .menu-cart{
        display: flex;
        align-items: center;
        gap: 32px   ;
    }
    .logo-cart{
        font-size: 18px;
        line-height: 22px;
    }
    .heading{
        margin-top: 48px;
    }
    .cart__img{
        display: none;
    }
    .cart__menu-box{
        font-size: 18px;
        line-height: 22px;
    }
    .cart__text-box{
        font-size: 12px;
        line-height: 15px;
    }
    .cart__button{
        display: flex;
    }
    .cart__clear{
        width: 166px;
    }
    .cart__form{
        width:100%;
    }
    .cart-box{
        display: flex;
        flex-direction: column;
    }
    .form-box{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 71px;
        margin-bottom: 33px;
    }
    .cart-show{
        margin-bottom: 32px;
    }
}

