@import'vars';


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.body {
    font-family: "Montserrat", sans-serif;
}

.header {
    height: 76px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);

    &_logo {
        color: $color-text;
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__input {
        font: inherit;
        width: 288px;
        height: 41px;
        box-sizing: border-box;
        border: 1px solid $color-text;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        color: $color-text;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;

        &::placeholder {
            color: white;
        }
    }
}

.top {
    height: 735px;
    background-image: url(img/Header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        color: $color-text;
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 63px;
        margin-bottom: 16px;
        max-width: 792px;
    }

    &__slogan {
        color: $color-text;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 16px;
    }

    &__link {
        color: $color-text;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        text-decoration-line: underline;
    }
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


.menu {
    display: flex;
    gap: 32px;
    flex-direction: row;

    &__link {
        color: $color-text;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }
}

.navigation__link:hover {
    display: block;
    text-decoration: underline;
}


.for-box {
    padding-top: 64px;

}

.for {
    margin-top: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);

    &__item {
        height: 415px;
        grid-column: span 4;
        color: $color-text;
        font-size: 34px;
        font-weight: 600;
        line-height: 41px;
        letter-spacing: 0%;
        display: flex;
        justify-content: center;
        align-items: center;

        &_big {
            grid-column: span 6;
        }

        &_1 {
            background-image: url(img/for1.jpeg);
        }

        &_2 {
            background-image: url(img/for2.jpeg);
        }

        &_3 {
            background-image: url(img/for3.jpeg);
        }

        &_4 {
            background-image: url(img/for4.jpeg);
        }

        &_5 {
            background-image: url(img/for5.jpeg);
        }

    }
}

.offers {
    margin-bottom: 64px;
    margin-top: 64px;

    &__heading {
        color: rgb(0, 0, 0);
        font-size: 48px;
        font-weight: 600;
        line-height: 59px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 32px;
        padding-top: 64px;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
}


.card {
    border: transparent;
    width: calc(33.33% - 32px);
    display: flex;
    flex-direction: column;
    min-width: 300px;

    &__photo {
        padding-bottom: 10px;
    }

    &__name {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 9px;
        padding-top: 10px;
    }

    &__description {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 12px;
    }

    &__price-box {
        gap: 32px;
        display: flex;
    }

    &__price {
        color: rgb(5, 5, 5);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        display: flex;
        gap: 33px;
        flex-direction: row;
    }

    &__price_ex {
        color: rgb(136, 136, 136);
        text-decoration-line: line-through;
    }
}



.catalogue {
    margin-top: 73px;
    margin-bottom: 64px;

    &__heading {
        color: rgb(0, 0, 0);
        font-size: 48px;
        font-weight: 600;
        line-height: 59px;
        letter-spacing: 0%;
        padding-bottom: 32px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        column-gap: 33px;
        row-gap: 56px;
    }
}

.cataloguelink__link {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    padding-top: 39px;
    transition: all 1s;
    &:hover{
        text-decoration: none;
        color: rgba(247, 246, 246, 1);
    }
}


.footer {
    margin-top: 64px;
    background: rgb(247, 246, 246);

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__logo {
        color: rgb(0, 0, 0);
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 32px;
    }

    &__menu {
        padding-top: 32px;
        padding-bottom: 59px;
    }

    &__contacts {
        padding-top: 32px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__title {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 12px;
    }

    &__linkslist {
        list-style: none;
    }

    &__menulink {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        text-align: left;
        padding-bottom: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    &__contact:hover {
        text-decoration: underline;
    }

    &__contact {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        text-align: left;
        padding-bottom: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__icons {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        }
    &__icon{
       filter: none;
    transition: filter 0.3s;
        cursor: pointer;
        &:hover {
            filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(0deg) brightness(0%) contrast(100%);
            color: rgb(0, 0, 0);
        }
    }

    &__finalbox {
        padding-top: 32px;
        display: flex;
        flex-direction: column;
    }

    &__subscribe {
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 8px;
    }

    &__button {
        padding-right: 93px;
        padding-left: 85px;
        padding-top: 12px;
        padding-bottom: 13px;
        border: 1px solid rgba(222, 215, 215, 0.41);
        font-family: inherit;
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
        border-radius: 16px;
        background: rgba(222, 215, 215, 0.41);
        transition: all 1s;
        &:hover{ 
        background: black; 
        color: white;

        }
    }

}


.box {
    font-family: inherit;
    padding-left: 17px;
    padding-top: 12px;
    padding-bottom: 13px;
    height: 40px;
    width: 260px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 16px;
    background: $color-text;
    margin-bottom: 8px;

    &:placeholder {
        color: rgb(196, 196, 196);
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
    }
}

@import 'cart';
@import 'filter';
@import 'catalogue';
@import 'indtab';
